# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore tmp files of emacs
*~

# Ignore ide files
.idea

# Ignore output files
out

#
*/*/*.iml


.DS_Store