<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>

        <!-- database -->
        <property name="hibernate.connection.url">jdbc:postgresql://vcm-12835.vm.duke.edu:5432/risk</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">postgres</property>


        <property name="hibernate.show_sql">
            true
        </property>

        <!-- mapping resource -->
        <mapping resource="Player/player.xml" />
        <mapping resource="Team/team.xml" />
        <mapping resource="Color/color.xml" />
        <mapping resource="State/state.xml" />

    </session-factory>

</hibernate-configuration>